.tableGame__container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin: 2rem auto;
    background-color: var(--lilas);
    width: 600px;
    height: 600px;
    border: var(--roxo) solid 3px;
    border-radius: 10px;
    position: relative;
    

}

.tableGame__quadrado{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--roxo);
    border-radius: 5px;
}
.tableGame__quadrado:hover{
    background-color: var(--rosa);
}


.peca-x{
    background-image: url("../img/x.svg");
    background-size: contain;
    background-repeat: no-repeat;
   
    width: 80%;
    height: 80%;

    display: inline-block;
    pointer-events: none;
}
.peca-o{
    background-image: url("../img/circle.svg");
    background-size: contain;
    background-repeat: no-repeat;
   
    width: 80%;
    height: 80%;
 
    display: inline-block;
    pointer-events: none;
}


.peca-x-mouse{
    background-image: url("../img/x.svg");
    background-size: contain;
    background-repeat: no-repeat;
     display:block ;
    width: 60px;
    height: 60px;
    pointer-events: none;
    position: absolute;

}

.peca-o-mouse{
    background-image: url("../img/circle.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    display: none;
    pointer-events: none;
    position: absolute;
}